<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.allon.commonutilsproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".notification.NotificationActivity">
        </activity>
        <activity
            android:name=".notification.ResultActivity"
            android:value=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity android:name=".fileprovider.FileProviderActivity">
        </activity>
        <activity android:name=".animation.layoutanimation.LayoutAnimationActivity">
        </activity>
        <activity android:name=".animation.drawableanimator.DrawableAnimationActivity">
        </activity>
        <activity android:name=".animation.fadeanimation.CrossFadeActivity">
        </activity>
        <activity android:name=".animation.ThreeAnimation2SameEffectActivity">
        </activity>
        <activity android:name=".animation.CardFlipActivity">
        </activity>
        <activity android:name=".animation.revealanimation.RevealActivity">
        </activity>
        <activity android:name=".animation.PathActivity">
        </activity>
        <activity android:name=".animation.EnlargeViewActivity">
        </activity>
        <activity
            android:name=".animation.revealanimation.RevealEffectActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".animation.transitionanimation.ShareElementActivity">
        </activity>
        <activity android:name=".animation.transitionanimation.TransitionAnimationActivity">
        </activity>
        <activity android:name=".animation.transitionanimation.TransitionAnimationByExplodeActivity">
        </activity>
        <activity android:name=".animation.transitionanimation.TransitionAnimationBySlideActivity">
        </activity>
        <activity android:name=".animation.VectorAnimatorActivity">
        </activity>
        <activity android:name=".animation.objectanimation.ObjectAnimationActivity">
        </activity>
    </application>

</manifest>